@media (min-width: 412px) and (max-width: 732px) {
	.services-banner{
	background-image:url(..//images/devlopment-banner.jpg);
	background-position:center;
	background-size:cover;
	height:auto;
}

.mobile-resp{
	margin-top:80px;
	margin-left:15%;
	width:60%;
}
.services-h1{
	font-size:25px;
	color:#fff;
	margin-top:30px;
	line-height:30px;
}

.services-p{
	color:#bfbfbf;
	line-height:26px;
	font-size:12px;
}

.back-banner1{
	background-image:url(..//images/banner-back-ps.1.jpg);
	background-position:center;
	background-size:cover;
	height:auto;
}
.work-procees{
	background-image:url(..//images/banner-background.png);
	background-position:center;
	background-size:cover;
	height:1200px;

}

.Working-h1{
	text-align:center;
	font-size:40px;
	padding-top:10px;
	color:#fff;
}
.Working-p{
	text-align:center;
	color:#fff;
	font-size:16px;
}
.working-h3{
	font-size:12px;
}
.clints{
	background-color:#1b1a1a;
	width:100%;
	height:auto;
}

.red{
    color:red;
    }
.form-area
{

	padding: 10px 40px 60px;
	margin-left:10%;
	}

.form-control{
	background-color:rgba(0,0,0,0.5);
    border: #fff;
    border-bottom: 1px solid #fff;
}

#carousel{
	position:relative;
}
.carousel-caption h1{
	position:absolute;
	left:0;
	bottom:30px;
	font-size:25px;
}
.carousel-caption h1 a:hover{
	text-decoration:none;
}


.Development-h1{
	text-align:center;
	font-size:40px;
	padding-top:50px;
}

.Development-p{
	text-align:center;
	font-size:16px;
}

.Development-text-h2{
	text-align:center;
	font-size:26px;
}

.Development-text-p{
	text-align:center; 
	line-height:26px;
}

.Development-text-left-h2{
	text-align:center; 
	line-height:26px;
}
.Development-text-left-p{
	text-align:center;
	line-height:26px;
}
.footer{
	background-color:#000;
	height:auto;
}

.contact-banner{
	background-image:url(../images/contact-banner1.jpg);
	background-position:fixed;
	background-size:cover;
	height:auto;
}

}

@media (min-width: 360px) and (max-width: 640px) {
	.services-banner{
	background-image:url(..//images/devlopment-banner.jpg);
	background-position:center;
	background-size:cover;
	height:auto;
}

.mobile-resp{
	margin-top:80px;
	margin-left:15%;
	width:60%;
}
.services-h1{
	font-size:25px;
	color:#fff;
	margin-top:30px;
	line-height:30px;
}

.services-p{
	color:#bfbfbf;
	line-height:26px;
	font-size:12px;
}

.back-banner1{
	background-image:url(..//images/banner-back-ps.1.jpg);
	background-position:center;
	background-size:cover;
	height:auto;
}
.work-procees{
	background-image:url(..//images/banner-background.png);
	background-position:center;
	background-size:cover;
	height:1300px;

}

.Working-h1{
	text-align:center;
	font-size:40px;
	padding-top:10px;
	color:#fff;
}
.Working-p{
	text-align:center;
	color:#fff;
	font-size:16px;
}
.working-h3{
	font-size:12px;
}

.effect1{
	margin-left:15%;
	margin-top:50px;
}
.clints{
	background-color:#1b1a1a;
	width:100%;
	height:auto;
}
.clints-img{
	margin-top:20px;
}

.red{
    color:red;
    }
.form-area
{

	padding: 10px 40px 60px;
	margin-left:10%;
	}

.form-control{
	background-color:rgba(0,0,0,0.5);
    border: #fff;
    border-bottom: 1px solid #fff;
}

#carousel{
	position:relative;
}
.carousel-caption h1{
	position:absolute;
	left:0;
	bottom:30px;
	font-size:25px;
}
.carousel-caption h1 a:hover{
	text-decoration:none;
}


.Development-h1{
	text-align:center;
	font-size:40px;
	padding-top:50px;
}

.Development-p{
	text-align:center;
	font-size:16px;
}

.Development-text-h2{
	text-align:center;
	font-size:26px;
}

.Development-text-p{
	text-align:center; 
	line-height:26px;
}

.Development-text-left-h2{
	text-align:center; 
	line-height:26px;
}
.Development-text-left-p{
	text-align:center;
	line-height:26px;
}
.footer{
	background-color:#000;
	height:auto;
}

.contact-banner{
	background-image:url(..//images/contact-banner1.jpg);
	background-position:fixed;
	background-size:cover;
	height:auto;
}


}


@media (min-width: 768px) and (max-width: 1024px) {
	.services-banner{
	background-image:url(..//images/devlopment-banner.jpg);
	background-position:center;
	background-size:cover;
	height:auto;
}

.mobile-resp{
	margin-top:80px;
	margin-left:15%;
	width:60%;
}
.services-h1{
	font-size:25px;
	color:#fff;
	margin-top:30px;
	line-height:30px;
}

.services-p{
	color:#bfbfbf;
	line-height:26px;
	font-size:12px;
}

.back-banner1{
	background-image:url(..//images/banner-back-ps.1.jpg);
	background-position:center;
	background-size:cover;
	height:auto;
}
.work-procees{
	background-image:url(..//images/banner-background.png);
	background-position:center;
	background-size:cover;
	height:800px;

}

.Working-h1{
	text-align:center;
	font-size:40px;
	padding-top:10px;
	color:#fff;
}
.Working-p{
	text-align:center;
	color:#fff;
	font-size:16px;
}
.working-h3{
	font-size:12px;
}
.effect1{
	float:left;
	margin-left:10%;
	margin-top:50px;
}

.clints{
	background-color:#1b1a1a;
	width:100%;
	height:auto;
}

.red{
    color:red;
    }
.form-area
{

	padding: 10px 40px 60px;
	margin-left:10%;
	}

.form-control{
	background-color:rgba(0,0,0,0.5);
    border: #fff;
    border-bottom: 1px solid #fff;
}

#carousel{
	position:relative;
}
.carousel-caption h1{
	position:absolute;
	left:0;
	bottom:70px;
	font-size:40px;
}
.carousel-caption h1 a:hover{
	text-decoration:none;
}


.Development-h1{
	text-align:center;
	font-size:40px;
	padding-top:50px;
}

.Development-p{
	text-align:center;
	font-size:16px;
}

.Development-text-h2{
	text-align:center;
	font-size:26px;
}

.Development-text-p{
	text-align:center; 
	line-height:26px;
}

.Development-text-left-h2{
	text-align:center; 
	line-height:26px;
}
.Development-text-left-p{
	text-align:center;
	line-height:26px;
}
.iphone-img{
	margin-left:28%;
}
.meter{
	float:left;
}

.clints-img{
	margin-left:20%;
	margin-top:40px;
	float:left;
}
.footer{
	background-color:#000;
	height:auto;
}

.contact-banner{
	background-image:url(..//images/contact-banner1.jpg);
	background-position:fixed;
	background-size:cover;
	height:auto;
}


}